.about{
    padding-bottom: 50px;
    button{@include btn;width: 200px;}
    h2{
       font-family: 'semi';font-size: 50px;padding: 10px;text-align: center;position: relative;margin-bottom: 30px;
           
     #about{
        background-color: #322ad1;;height: 2px;border: none;width: 20%;margin: 0 auto;
    }
    }
    h2::first-letter {
        color: #322ad1;
        font-size: 90px;
    }
  .container{
      display: flex;justify-content: space-between;flex-wrap: wrap;
    .pic{
        width: 250px;height: 300px;border: 10px outset  #322ad1;position: relative;margin: 0 auto;
        border-radius: 100px 0 80px 0;@include center;margin-bottom: 30px;
        .inner{
            width: 180px;height: auto;@include center;
        }
     
    }
    .personal-info{
        width: 100%;text-align: center;padding: 0 10px 0 10px;
        p{
            font-family: 'light';font-size: 20px;padding-bottom: 10px;
        }
    
    }
  }
}




@media (min-width: 576px) {  


}

/* Ipad */
@media (min-width: 768px) {  
	
    .about{
        padding-bottom: 50px;
    
      .container{
          padding-left: 50px;
     
        .personal-info{
            width: 100%;padding-top: 20px;
           
        }
      }
     }
    }
    


@media (min-width: 992px) { 
   
    .about{
        padding-bottom: 50px;
      
        
      .container{
          
        .pic{
            width: 330px;height: 380px;border: 10px outset  #322ad1;position: relative;margin: 0 auto;
            border-radius: 100px 0 80px 0;@include center;margin-bottom: 30px;
            .inner{
                width: 240px;height: auto;@include center;
            }
         
        }
        .personal-info{
            width: 60%;text-align: left;
            p{
                font-family: 'light';font-size: 25px;padding-bottom: 10px;
            }
        }
      }
    }
  
    
}

/* Desktop */
@media (min-width: 1200px) {  
   
    .about{
        padding-bottom: 50px;
      
        
      .container{
          
     
        .personal-info{
            width: 60%;text-align: left;
            p{
                font-size: 25px;padding-bottom: 20px;
            }
        }
      }
    }
    
}




/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}




























