.skill-experience{
    h2{
        font-family: 'semi';font-size: 40px;text-align: center;position: relative;text-transform: capitalize;padding-top: 75px;
        span{
            font-size: 80px;font-weight: bolder;font-family: 'bold';text-transform: uppercase;position: absolute;z-index: -2;color:  #0e0c388e;
            left: 0; right: 0; top: 50px; margin-left: auto; margin-right: auto; 
     }
  }
}