.skills{

  .container{
    h2{
      font-family: 'semi';padding: 30px  0 0 0;
      }
      p{
        font-size: 20px;font-family: 'light';padding-bottom: 20px;width: 60%;
      }

      .row{
        .col-md-4{
          .tab{
            display: flex;flex-direction: column;background-color: aqua;font-size: 30px;padding-top: 50px;
            button{
              font-family: 'semi';text-transform: uppercase;
            }
          }
        }

        .col-md-8{
          .content{
            border-left: 1px outset red;height: 400px;background-color: aquamarine;padding: 30px 40px 0 40px;
            .city{
              .skill{
                background-color: red;margin-bottom: 20px;
                .bar{
                  background-color: green;display: flex;justify-content: end;padding-right: 30px;
                }
              }
            }
          }
        }
      }
  }

}







  
  
