/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
  background-color: black;
  color: #fff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: bold;
  src: url(/fonts/Akrobat-ExtraBold.ttf);
}
@font-face {
  font-family: light;
  src: url(/fonts/Akrobat-ExtraLight.ttf);
}
@font-face {
  font-family: semi;
  src: url(/fonts/Akrobat-SemiBold.ttf);
}
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  position: absolute;
  width: 100%;
}
header .logo {
  width: 50vw;
  height: 120px;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header ul li a {
  display: none;
}
header ul button {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    position: absolute;
    width: 100%;
  }
  header .logo {
    width: auto;
    height: 190px;
  }
  header .logo img {
    width: 100%;
    height: 100%;
  }
  header ul li {
    padding-right: 35px;
  }
  header ul li a {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "semi";
  }
  header ul button {
    width: 150px;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    border-radius: 60px 0 60px 0px;
    font-family: "bold";
    outline: none;
    border: none;
  }
}
.banner {
  height: 100vh;
}
.banner .container .row .col-md-2 .name h2 {
  color: white;
  font-size: 30px;
  padding-top: 90px;
  text-transform: capitalize;
  line-height: 1;
  font-family: "semi";
}
.banner .container .row .col-md-2 .name .icons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.banner .container .row .col-md-2 .name .icons a {
  font-size: 25px;
  font-family: "light";
  text-decoration: none;
  padding-right: 20px;
  color: #e1ff00;
}
.banner .container .row .col-md-4 .image {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.banner .container .row .col-md-4 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .container .row .col-md-6 .info h1 {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
  font-family: "bold";
  text-shadow: 1px 2px 5px #767575;
}
.banner .container .row .col-md-6 .info h1 span {
  display: block;
}
.banner .container .row .col-md-6 .info h1 strong {
  font-weight: lighter;
}
.banner .container .row .col-md-6 .info p {
  font-size: 25px;
  padding-top: 20px;
  font-family: "light";
}
.banner .container .row .col-md-6 .info p span {
  display: block;
}
.banner .container .row .col-md-6 .info p #zim {
  font-family: "semi";
}
.banner .container .row .col-md-6 .info button {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "bold";
  border-radius: 60px 0 120px 60px;
  border: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 100vh;
  }
  .banner .container .row .col-md-2 .name h2 {
    color: white;
    font-size: 50px;
    padding-top: 200px;
    text-transform: capitalize;
    line-height: 1;
    font-family: "semi";
  }
  .banner .container .row .col-md-2 .name .icons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .banner .container .row .col-md-2 .name .icons a {
    font-size: 25px;
    font-family: "light";
    text-decoration: none;
    padding-right: 20px;
    color: #e1ff00;
  }
  .banner .container .row .col-md-4 .image {
    width: 480px;
    height: 500px;
    margin-top: 150px;
    padding-left: 150px;
  }
  .banner .container .row .col-md-4 .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner .container .row .col-md-6 .info {
    padding-left: 190px;
  }
  .banner .container .row .col-md-6 .info h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 120px;
    font-family: "bold";
    text-shadow: 1px 2px 5px #767575;
  }
  .banner .container .row .col-md-6 .info h1 span {
    display: block;
  }
  .banner .container .row .col-md-6 .info h1 strong {
    font-weight: lighter;
  }
  .banner .container .row .col-md-6 .info p {
    font-size: 35px;
    padding-top: 20px;
    font-family: "light";
  }
  .banner .container .row .col-md-6 .info p span {
    display: block;
  }
  .banner .container .row .col-md-6 .info p #zim {
    font-family: "semi";
  }
  .banner .container .row .col-md-6 .info button {
    width: 300px;
    height: 60px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "bold";
    border-radius: 60px 0 120px 60px;
    border: none;
  }
}/*# sourceMappingURL=style.css.map */